.hide, #menu_button_tabblet, .click-sub-menu, #login_button_tabblet, #chat_button, #online_button, .facebook_mobile {
  display: none; }

@media only screen and (max-width: 1279px) {
  /*header*/
  body {
    padding: 20px 15px;
    margin: 0; }

  .search {
    width: -webkit-calc(100% - 170px);
    width: calc(100% - 170px); }
    .search > ul {
      margin: 0;
      padding: 0; }
    .search .input-search {
      margin: 0; }

  /*menu*/
  .mega-menu {
    left: -300px;
    width: 300px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    .mega-menu.open {
      left: 0; }

  /*main-content*/
  .rightContent {
    border: 0 none;
    padding: 0;
    margin: 0; }
    .rightContent .history, .rightContent #facebook_if, .rightContent #login_out, .rightContent .shout_box {
      display: none; }

  #login_out {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 300px;
    background: #80500b;
    padding: 10px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    z-index: 99999; }

  #close_login_out, #close_shout_box {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(../images/close-x.png) no-repeat center;
    border: 0 none; }

  #close_login_out {
    left: 10px; }

  .button-login {
    width: auto; }

  .center-img {
    float: left;
    width: auto;
    margin-left: 5px;
    display: block; }
    .center-img img {
      width: 50px;
      height: auto; }

  .profile_des {
    float: right;
    margin-right: 5px;
    width: auto; }
    .profile_des > ul {
      padding: 0;
      margin: 0; }
      .profile_des > ul li {
        padding-top: 0;
        padding-bottom: 10px; }

  .shout_box {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 300px;
    background: #80500b;
    padding: 10px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    z-index: 9999; }

  #chat_button {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    background: url(../images/chat.png) no-repeat center;
    background-size: cover;
    float: left;
    border: 0 none;
    margin-top: 10px; }

  .leftContent {
    width: 100%;
    float: none; }

  .mainContent {
    padding-top: 30px; }

  /*rightContent*/
  .new-music {
    width: 42%; }
    .new-music img {
      height: auto !important; }

  .slider {
    width: -webkit-calc(58% - 20px);
    width: calc(58% - 20px);
    height: auto; }

  #slider-album-new .img-slider-detail {
    width: 100%;
    height: auto; }

  .list-sliders-li img {
    margin: 0 auto; }

  /*footer*/
  #footer {
    height: auto; }
    #footer .content {
      overflow: hidden;
      padding-bottom: 20px; }
      #footer .content .logo {
        margin-right: 30px;
        float: none;
        text-align: center; }

  .information, .information-social {
    float: none;
    width: -webkit-calc(100% - 12px);
    width: calc(100% - 12px);
    text-align: center; }

  .link-footer, .link-footer-social {
    padding: 0; }
    .link-footer > li, .link-footer-social > li {
      float: none;
      display: inline-block; }

  /*mega-menu*/
  .mega-menu {
    position: absolute;
    top: 108px;
    background: black;
    z-index: 99;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .mega-menu > ul > li {
      display: block !important;
      margin: 0;
      padding: 0;
      text-align: left;
      padding-right: 30px; }
      .mega-menu > ul > li:not(:last-child) {
        border-bottom: 1px solid #fff; }
      .mega-menu > ul > li > a {
        padding: 10px;
        display: block; }

  .click-sub-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 42px;
    background: rgba(0, 0, 0, 0.5); }
    .click-sub-menu:after, .click-sub-menu:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 35%;
      margin-top: -5px;
      width: 2px;
      height: 10px;
      background: #ffffff; }
    .click-sub-menu:before {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .click-sub-menu.active:after {
      display: none; }

  .sub-menu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: -webkit-calc(100% + 15px);
    left: calc(100% + 15px); }

  .static {
    position: static !important; }

  .click-sub-sub-menu {
    width: 48px;
    height: 40px;
    display: inline-block;
    background: url(../images/back-white.png) no-repeat center; }

  .block-sub-menu {
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .block-sub-menu > a {
      display: block;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-right: 0 none; }
      .block-sub-menu > a:not(:last-child) {
        border-bottom: 1px solid #fff; }

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

  .category-data {
    border: 0 none; }

  .detail-category {
    height: auto;
    min-height: 50px; }

  .category-data > ul {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0; }

  .history {
    position: absolute;
    top: 110px;
    left: 15px;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    background: #000;
    margin: 0;
    height: 400px; } }
@media only screen and (max-width: 991px) {
  .new-music {
    width: 100%;
    float: none; }

  .slider {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px); }

  .category-list-sliders-li {
    width: 33.33%; }
    .category-list-sliders-li .detail-category-img {
      margin: 0 auto; } }
@media only screen and (max-width: 1279px) and (min-width: 768px) {
  #menu_button_tabblet, #login_button_tabblet, #online_button {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../images/menu-mb.png) no-repeat center #ffffff;
    float: left;
    border: 0 none;
    margin-top: 10px; }

  #login_button_tabblet {
    background: url(../images/user-mb.png) no-repeat center #ffffff;
    margin-left: 10px; }

  #online_button {
    background: url(../images/giphy.gif) no-repeat center #ffffff;
    margin-left: 10px;
    background-size: 40px; } }
@media only screen and (min-width: 1280px) {
  #close_login_out, #close_shout_box {
    display: none; }

  #login_out, .shout_box, .history {
    display: block !important; } }
@media only screen and (min-width: 768px) {
  .search {
    display: block !important; }

  #close_search {
    display: none; } }
@media only screen and (max-width: 767px) {
  /*header*/
  .history {
    top: 82px; }

  .search {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    max-width: 400px;
    min-width: 280px;
    background: rgba(255, 255, 255, 0.5);
    padding: 50px 15px 20px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .search > ul {
      float: none; }
      .search > ul > li {
        width: -webkit-calc(50% - 5px);
        width: calc(50% - 5px);
        margin-left: 10px; }
        .search > ul > li:nth-child(2n+1) {
          margin-left: 0; }
        .search > ul > li:nth-child(n+3) {
          margin-top: 10px; }
    .search form {
      text-align: center; }

  #close_search {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(../images/close-x.png) no-repeat center;
    border: 0 none; }

  .top-menu-mobile {
    display: block;
    float: right; }
    .top-menu-mobile ul {
      padding: 0;
      margin: 0; }
      .top-menu-mobile ul li {
        display: inline-block; }
        .top-menu-mobile ul li:not(:last-child) {
          margin-right: 10px; }
        .top-menu-mobile ul li a {
          display: block;
          width: 32px;
          height: 32px;
          background: #ffffff; }
          .top-menu-mobile ul li a#search-button {
            background-image: url(../images/search-mb.png);
            background-repeat: no-repeat;
            background-position: center; }
          .top-menu-mobile ul li a#login-button {
            background-image: url(../images/user-mb.png);
            background-repeat: no-repeat;
            background-position: center; }
          .top-menu-mobile ul li a#menu-button {
            background-image: url(../images/menu-mb.png);
            background-repeat: no-repeat;
            background-position: center; }
          .top-menu-mobile ul li a#online-button {
            background: url(../images/giphy.gif) no-repeat center #ffffff;
            background-size: 40px; }

  .query-search {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px; }

  .search-button {
    margin: 15px auto 0; }

  /*xem nhieu nhat*/
  #img-search-more {
    float: none;
    width: -webkit-calc(100% - 25px);
    width: calc(100% - 25px);
    height: auto; }

  .home-page-slider-search-more {
    height: auto;
    margin: 15px 10px; }

  .mega-menu {
    top: 80px;
    left: -100%;
    width: 100%; }

  .facebook_mobile {
    display: block;
    padding: 30px 0; } }
@media only screen and (max-width: 700px) {
  .category-list-sliders-li {
    width: 50%; } }
@media only screen and (max-width: 420px) {
  .category-list-sliders-li {
    width: 100%; } }
