/* ============================================================================================== 
This copyright notice must be kept untouched in the stylesheet at all times.
The original version of this stylesheet and the associated (x)html 
is available at http://www.script-tutorials.com/html5-audio-player-with-playlist/
Copyright (c) Script Tutorials. All rights reserved.
This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
================================================================================================= */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #aaa;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#fff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    margin-bottom: 10px;
    position:relative;
}
header h2{
    font-size: 22px;
    margin: 0px auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#B24026;
}
header a, a:hover {
    text-decoration:none;
    color:#B24026;
}
header a, a {
    text-decoration:none;
    color:#B24026;
}
.zlike a{
    text-decoration:none;
    color:#fff;
}
/* HTML5 Audio player with playlist styles */
.example {
    margin: 10px auto 0;
    width: 95%;
}
.player {
    background: transparent url("../images/spr.png") no-repeat scroll center top;
    height: 162px;
    position: relative;
    width: 326px;
    z-index: 2;
}
.title, .artist {
    font-family: verdana;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    float: right;
    width: 40%;
}
.artist {
    color: #EEEEEE;
    font-size: 12px;
	float: right;
    width: 40%;
}
.pl {
    background: transparent url("../images/spr.png") no-repeat scroll -274px -175px;
    cursor: pointer;
    height: 34px;
    left: 270px;
    position: absolute;
    top: 20px;
    width: 32px;
}
.pl:hover {
    top: 21px;
}
.cover {
    background: transparent url(../data/cover1.jpg) no-repeat scroll center top;
    border-radius: 5px 5px 5px 5px;
    height: 94px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 94px;
	background-size: cover;
	    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    background-position: center center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #888888;
}
.controls {
    cursor: pointer;
    height: 23px;
    left: 167px;
    position: absolute;
    top: 65px;
    width: 138px;
}
.controls .play, .controls .pause, .controls .rew, .controls .fwd {
    background: transparent url("../images/spr.png") no-repeat scroll 0 0;
    float: left;
    height: 100%;
    width: 33%;
}
.controls .play {
    background-position: -8px -171px;
}
.controls .pause {
    background-position: -8px -198px;
    display: none;
}
.controls .rew {
    background-position: -54px -171px;
}
.controls .fwd {
    background-position: -100px -171px;
}
.controls .play:hover {
    background-position: -8px -170px;
}
.controls .pause:hover {
    background-position: -8px -197px;
}
.controls .rew:hover {
    background-position: -54px -170px;
}
.controls .fwd:hover {
    background-position: -100px -170px;
}
.hidden {
    display: none;
}
.controls .visible {
    display: block;
}
.volume {
    height: 11px;
    left: 186px;
    position: absolute;
    top: 96px;
    width: 112px;
}
.tracker {
    height: 15px;
    left: 20px;
    position: absolute;
    top: 126px;
    width: 285px;
}
.ui-slider-range {
    background: transparent url("../images/spr.png") no-repeat scroll 5px -222px;
    height: 100%;
    position: absolute;
    top: 0;
}
.ui-slider-handle {
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    position: absolute;
    top: 2px;
    width: 10px;
    z-index: 2;
}
.volume .ui-slider-handle {
    background: url("../images/spr.png") no-repeat scroll -201px -188px rgba(0, 0, 0, 0);
    height: 13px;
    width: 13px;
}
.title-orther-album{
    font-size: 20px;
    font-family: arial, verdana;
    color: #B24026;
    font-weight: bold;
    margin-bottom: 15px;
	margin-top: 15px;
}
.playlist {
    background-color: #333333;
    border-radius: 5px 5px 5px 5px;
    list-style-type: none;
    margin: -10px 0 0 2px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative;
    width: 100%;
    z-index: 1;
	margin-top:1%;
	border: 1px solid #dedede;
}
.playlist li {
    color: #EEEEEE;
    cursor: pointer;
    margin: 0 15px 5px 15px;
	border-bottom: 1px solid #dedede;
	height:50px;
	position:relative;
	line-height: 50px;
}
.playlist li.active {
    font-weight: bold;
}
.playlist #playing{
	content: "";
    display: block;
    width: 14px;
    height: 10px;
    background: url(../images/playing.png) left center;
    animation: play .8s steps(3) infinite;
    position: absolute;
    top: 20px;
    left: 1px;
}
.tool-song{
    position: absolute;
    top: 50%;
    margin-top: -14px;
	right: 0;
}
.tool-song .i25 {
    float: left;
    margin-left: 20px;
    margin-left: 0;
}
.tool-song .i25.video a {
    background-position: 0 -1734px;
    position: relative;
    top: 1px;
    left: -5px;
}
.tool-song .i25>a{
	background-image: url(../images/icon.png);
    background-repeat: no-repeat;
	width: 25px;
    height: 25px;
    display: inline-block;
	text-decoration: none;
}
.tool-song .i25.i-small.ringtone a {
    background-position: 0 -3759px;
}
.tool-song .i25.download a {
    background-position: 0 -1359px;
}
.tool-song .i25.addlist a {
    background-position: 0 -1384px;
}
.tool-song .i25.share a {
    background-position: 0 -1409px;
}
.tool-song .i25.direct a {
    background-position: 0 -2059px;
}