body{
    background-color: rgb(0,0,0);
    padding: 30px;
    font-family: Verdana;
}
h1{
    color: rgb(255,255,255);
    font-family: Verdana;
}
h3{
    color: rgb(255,255,255);
    font-family: Verdana;
}
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
header{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
#main{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    float:left;
}
.search{
    float:right;
    width: 50%;
}
.search > ul{
    float:right;
    margin: 0;
    margin-right: 10%;
}
.search > ul > li{
    color:rgb(255,255,255);
    list-style: none;
    float:left;
    height:auto;
    width:100px;
    margin-left: 10px;
    background-color: rgb(128,80,11);
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 18px;
}
.category-search{
    width: 100%;
    position: relative;
    height: auto;
    float: inherit;
    border-left: 1px rgb(255,255,255) solid;
    border-right: 1px rgb(255,255,255) solid;
    border-bottom: 1px rgb(255,255,255) solid;
    box-sizing: border-box;
}
.category-search > ul{
    padding: 0;
    float: inherit;
    margin-left: 15px;
}
.ul-search{
    width: 100%;
}
.search-li{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 97%;
    list-style: none;
    height: auto;
    border-bottom: 1px rgb(255,255,255) solid;
    float: inherit;
}
.search > ul > li{
    cursor: pointer;
}
.search > ul > li.active{
    color: rgb(128,80,11);
    background-color:rgb(255,255,255);
}
.non-search{
    font-size:18px;
    font-family: inherit;
    color:rgb(255,255,255);
}
.search > ul > li.active >a{
    color: rgb(128,80,11);
}
.img-search{
    float:left;
    width: 100px;
    height: 100px;
    border: 3px rgb(255,255,255) solid;
    border-radius:0;
    display: block;
}
.detal-search-information{
    float:left;
    width: 73%;
}
.detect-text{
    background-color: rgb(128,80,11);
}
.detal-search-information > h1{
    text-align: left;
    margin-left: 30px;
    width: 100%;
    padding-top: 10px;
    font-size: 15px;
    font-family: inherit;
}
.infor-meta{
    margin-left: 30px;
    color:rgb(255,255,255);

}
.infor-meta > span{
    width: inherit;
    display: inline-block;
}
.number-listen{
    font-family: inherit;
    font-size:15px;
    font-weight: bold;
    display: inline-block;
}
.li-page{
    border: 1px rgb(255,255,255) solid;
    background-color: rgb(0,0,0);
    padding: 10px;
    cursor: pointer;
}
.li-page:hover{
    border: 1px rgb(255,255,255) solid;
    background-color: rgb(255,255,255);
    color:rgb(0,0,0) !important;
    cursor: pointer;
}
.li-page:hover > a {
    color:rgb(0,0,0) !important;
}
.li-page.active-page{
    border: 1px rgb(255,255,255) solid;
    background-color: rgb(255,255,255);
    color:rgb(0,0,0) !important;
    cursor: pointer;
}
.li-page.active-page > a{
    color:rgb(0,0,0) !important;
}
/*.search > ul > li.active{
    color:rgb(128,80,11);
    background-color: rgb(255,255,255);
}
.search > ul > li > a{
    color:rgb(255,255,255);
}
.search > ul > li > a:visited{
    color:rgb(128,80,11);
}*/
.input-search{
    padding-top: 20px;
    clear: both;
    margin-right: 10%;
    position: relative;
}
.query-search{
    font-size: 18px;
    font-family: inherit;
    color: rgb(0,0,0);
    width: 320px;
}
.search-button{
    width:100px;
    color:rgb(255,255,255);
    background-color: rgb(128,80,11);
    border: 0;
    font-family: inherit;
    font-size: 18px;
    padding: 2px;
    cursor: pointer;
}
.mega-menu{
    padding-top: 60px;
}
.mega-menu > ul{
    padding-left: 0;
}
.mega-menu> ul > li{
    color:rgb(255,255,255);
    list-style: none;
    display: inline;
    height:auto;
    width:auto;
    text-align: center;
    font-size: 18px;
    margin-left: 35px;
    font-weight: bold;
}
.list-megamenu{
    position: relative;
    display: inline-block !important;
}
.sub-menu{
    position: absolute;
    display: none;
    height:auto;
    z-index: 1;
    background-color: rgb(0,0,0);
    border: 1px rgb(255,255,255) solid;
    width: 300px;
    margin-left:auto;
    margin-right: auto;
}
.sub-menu > a{
    display: block;
    color:rgb(255,255,255);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    font-family: inherit;
}
.list-sub-menu{
    border-bottom: 1px rgb(255,255,255) solid;
    border-top: 1px rgb(255,255,255) solid;
    font-size: 15px;
}
.list-sub-menu-children{
    text-align: center !important;
    font-size:15px;
    font-family: inherit;
}
.sub-menu > a:hover{
    background-color: rgb(255,255,255);
    color:rgb(0,0,0);
}
.nhac_cu{
    width: 1130px;
    left: -398px;
}
.block-sub-menu{
    display: inline-block;
    text-align: left;
    width: 100%;
    border-bottom: 1px rgb(255,255,255) solid;
}
.block-sub-menu > a{
    width: 220px;
    font-size: 15px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px rgb(255,255,255) solid;
}
.block-sub-menu > a:last-child{
    border-right: 0px rgb(255,255,255) solid;
}
.block-sub-menu > a:hover{
    background-color: rgb(255,255,255);
    color:rgb(0,0,0);
}
.active{
    display: block;
}
@media only screen and (min-width: 1024px) {
    .list-megamenu:hover .sub-menu {
        display: block;
    }
}
#home-page{
    margin-left: 0;
}
#icon-home{
    width: 25px;
    height:25px;
    vertical-align: bottom;
}
.mainContent{
    width: 100%;
}
.leftContent{
    width: 70%;
    float: left;
    position: relative;
}
.rightContent{
    width: 29%;
    float: left;
    border: 1px rgb(255,255,255) solid;
    margin-left: 10px;
}
.slider-music{
    border: 1px rgb(255,255,255) solid;
    width: 100%;
    float: inherit;
}
#slider-album-new{
    padding-left: 0;
    margin-bottom: 0;
    height: auto;
    margin-top: 0;
}
.slider{
    width: 525px;
    height:420px;
    float:left;
}
.img-slider{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.img-slider-detail{
    width: 515px;
    height: 300px;
    /*border: 1px rgb(255,255,255) solid;*/
    /*border-radius: 15px;*/
}
.title-slider{
    border: 1px rgb(255,255,255) solid;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
}
.title-music{
    font-size: 24px;
    font-weight: 100;
}
.short-description-music{
    font-size: 15px;
    font-weight: 100;
}
.new-music{
    float:right;
    width:40%;
}
.block-new-one{
    padding: 10px;
}
.block-new-two{
    padding: 10px;
    padding-top: 0;
}
.block-new-one > a > img{
    height:194px;
    width: 100%;
    border: 1px rgb(255,255,255) solid;
}
.block-new-two > a > img{
    height:193px;
    width: 100%;
    border: 1px rgb(255,255,255) solid;
}
/*End slider*/
/*Begin for right block*/
.title-login{
    font-size: 24px;
    font-family: inherit;
    font-weight: bold;
    color:rgb(255,255,255);
    text-align: right;
    padding: 10px;
    padding-right: 5%;
}
#user_name{
    font-size: 17px;
    font-family: inherit;
    font-weight: 100;
    color:rgb(255,255,255);
    text-align: right;
    padding: 10px;
}
#pass_word{
    font-size: 17px;
    font-family: inherit;
    font-weight: 100;
    color:rgb(255,255,255);
    text-align: right;
    padding: 10px;
}
.input-type{
    width: 90%;
    height: 25px;
}
.div-button{
    margin-top: 30px;
}
.button-login{
    width: 90%;
    background-color: transparent;
    color:rgb(255,255,255);
    font-weight: bold;
    font-size:20px;
    padding: 10px;
    border: 1px rgb(255,255,255) solid;
}
.button-login:hover{
    background-color: rgb(255,255,255);
    color:rgb(0,0,0);
    font-weight: bold;
    font-size:20px;
    padding: 10px;
    border: 1px rgb(0,0,0) solid;
}
.homepage-img-slider{
    border: 3px rgb(255,255,255) solid;
    border-radius: 15px;
}
.title-of-block{
    height: 50px;
    background-color:rgb(128,80,11);
    color:rgb(255,255,255);
}
.title-of-block > h1{
    padding-left: 25px;
    font-size:22px;
    font-weight: 100;
    padding-top:10px;
    padding-bottom:7px;
    margin-top: 0;
}
.home-page-slider-search-more{
    width: auto;
    margin: 10px;
    margin-right: 0;
    position: relative;
    height: 210px;
    overflow-y: scroll;
}
.home-page-slider-search-more::-webkit-scrollbar {
    width: 5px;
}

.home-page-slider-search-more::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.home-page-slider-search-more::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
#img-search-more{
    float:left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 3px rgb(255,255,255) solid;
    border-radius: 15px;
}
.homepage-sliders-href-search-new h1:first-child{
    margin-top: 5px;
}
.homepage-sliders-href-search-new h1{
    width: 100%;
    padding-top:0;
    text-align: center;
    font-size: 24px;
    font-family: inherit;
    font-weight:100;
    text-align: left;
}
.homepage-sliders-href-search-new h1:hover{
    background-color: rgb(255,255,255);
    color:rgb(0,0,0);
}
.hot-on-week{
    width: 100%;
    position: relative;
    border: 1px rgb(255,255,255) solid;
    margin-top: 30px;
    float: inherit;
}
.content-of-hot-week{
    width: 100%;
    float: left;
}
.list-hot{
    float: left;
    padding-left: 0;
}
.list-sliders-li-hot{
    float:left;
    padding: 9px;
}
.list-sliders-li-hot > a > h1{
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    font-family: inherit;
    overflow-x: hidden;
}
.list-sliders-li-hot > a > h1:hover{
    color:rgb(255,150,0);
}
.hot-img{
    margin: auto;
    width: 197px !important;
    height: 197px !important;
    border-radius: 0px !important;
}
.hot-img:hover{
    border: 3px rgb(255,150,0) solid;
}
#phan_loai{
    margin-top: 30px;
}
.title-section{
    font-size: 24px;
    color:rgb(255,255,255);
}
#phan_loai > ul {
    padding: 0;
}
.home-page-slider > ul{
    padding: 0;
}
#you-also-like-per-song .list-sliders-li{
    padding-left: 0;
}
/* Region Footer */
#footer{
    height:150px;
    display: block;
}
#footer .content{
    background-color: rgb(128,80,11);
    height: inherit;
}
#footer .content .logo{
    margin-top: 30px;
    margin-left: 30px;
}
.information{
    float:left;
    padding-left: 12px;
    width: 45.666667%;
    margin-top: 30px;
}
.information-social{
    float:left;
    padding-left: 12px;
    width: auto;
    margin-top: 30px;
}
.link-footer{
    margin: 0;
}
.link-footer-social{
    margin: 0;
}
.link-footer > li{
    margin-bottom: 10px;
    float: left;
    width: 150px;
    list-style: none;
}
.link-footer-social > li{
    margin-bottom: 10px;
    float: left;
    width: 50px;
    list-style: none;
}
/*End Region Footer*/

.notice{
	background-color:green;
	padding: 2%;
	width:100%;
	height:auto;
	display:block;
	text-align: center;
}

.homepgae-suggested-title{
	margin: 10px;
	width: 100%;
}
.home-page-slider{
	width:auto;
	margin: 10px;
    margin-left: 0;
    margin-right: 0;
	position: relative;
}
.home-page-slider > ul > li{
	list-style: none;
}
#homepage-suggested-album{
    padding-left: 0;
}
.homepage-img-slider{
	width:200px;
	height:200px;
	display:block;
}
.list-sliders-li{
	list-style: none;
    padding-left: 10px;
}
.homepage-sliders-href{
	text-decoration: none;
	color:#B24026;
}
.homepage-sliders-href img:hover{
    border: 3px rgb(255,150,0) solid;
    border-radius: 15px;
}
.homepage-sliders-href h1{
	width: 100%;
	padding-top: 10px;
	text-align: center;
	font-size: 15px;
    font-family: inherit;
}
.homepage-sliders-href h1:visited{
	text-decoration: none;
	color: rgb(255,255,255);
}
.homepage-sliders-href h1:hover{
	text-decoration: none;
	color:rgb(255,150,0);
}
a{
	text-decoration: none;
	color:rgb(255,255,255);
	font-family:inherit;
}

a:visited{
	color:rgb(255,255,255);
}
a:hover{
	color:white;
}
.homepage-slider-description{
	text-align: left;
	width:auto;
	width: 130px;
    padding: 10px;
}
.home-page-next {
    display: block;
    width: 20px;
    height: 40px;
    padding: 5px;
    text-decoration: none;
    color: transparent;
    position: absolute;
    top: 50px;
    background: url("../images/arrow_right.png") no-repeat center;
    right:0;
    background-color: white;
    z-index: 99;
}
.home-page-prev {
    display: block;
    width: 20px;
    height: 40px;
    padding: 5px;
    text-decoration: none;
    color: transparent;
    position: absolute;
    top: 50px;
    background: url("../images/arrow_left.png") no-repeat center;
    background-color: white;
    left:0;
    z-index: 99;
}
.homepage-category{
	width: 100%;
	position: relative;
    border: 1px rgb(255,255,255) solid;
}
.homepage-block{
	width:45%;
	padding: 10px;
	display:block;
	float:left;	
}
.homepage-block ul{
	width:100%;
}
.homepage-block ul li{
	padding: 10px;
	display: table;
	width:100%;
	list-style: none;
	height:auto;
	border-bottom: 1px black solid;
}
.homepage-block-href-a{
	float:left;
}
.homepage-img-block{
	width:50px;
	height:50px;
}
.homepage-block-title{
	font-size:11pt;
}
.homepage-block-href{
	float:right;
	width:70%;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	font-family: Roboto,arial,sans-serif;
}
.homepage-block-href-artist{
	float:right;
	width:71%;
	font-size:10pt;
	font-family: Roboto,arial,sans-serif;
}
.homepage-block-view{
	width:100%;
	display: table-row;
	font-size: 10pt;
	font-family: Roboto,arial,sans-serif;
	text-align: left;
	padding: 20px;
	font-weight: bold;
}
.clear{
	clear:both;
}
.profile{
	height: auto;
}
.center-img{
    width: 100%;
    display: flex;
}
.profile_img{
	margin-top:10px;
	float:left;
}
.profile_des{
	float:left;
	width:100%;
	font-size:15px;
    font-family: inherit;
}
.profile_des > ul {
	list-style: none;
}
.page{
	display:block;
	width:100%;
}
.category-data{
	width: 100%;
    position: relative;
    height:auto;
    float:inherit;
    border-left: 1px rgb(255,255,255) solid;
    border-right: 1px rgb(255,255,255) solid;
    border-bottom: 1px rgb(255,255,255) solid;
    box-sizing: border-box;

}
.category-data > ul{
    padding: 0;
    float: inherit;
    margin-left: 15px;
    width: 100%;
}
.detail-category{
    border-left: 1px rgb(255,255,255) solid;
    border-right: 1px rgb(255,255,255) solid;
    border-top: 1px rgb(255,255,255) solid;
}
.detail-category-img{
    border-radius: 0px !important;
}
.post-comment > a:visited{
    color:rgb(0,0,0);
}
.not-login-comment{
    color:rgb(255,255,255);
    margin-left: 30px;
    cursor: pointer;
}
.update-region{
    background-color: transparent;
    color:transparent;
    position: absolute;
    top:75px;
    z-index: 1;
    height: 50px;
    left:1%;
    cursor: pointer;
    width:23%;
    transition: opacity .3s cubic-bezier(.175, .885, .32, 1.275), width .3s step-end;

}
#result-return{
    height:210px;
}
.list-sliders-li-hot > img:hover{
    border: 3px rgb(255,150,0) solid;
}
.button-save{
    width: 25%;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: 1px rgb(255,255,255) solid;
    transition: 0.2s linear;
    cursor: pointer;
}
.text-collection{
    font-size:18px;
    font-family: inherit;
    color:rgb(0,0,0);
    padding: 10px;
}
.button-save:hover{
    background-color: rgb(255,255,255);
    color:rgb(0,0,0);
    border: 1px rgb(0,0,0) solid;
}
#img-cover-replace{
    z-index:0;
    position: relative;
}
.img-update{
    position: absolute;
    z-index: 1;
    height: 50px;
    cursor: pointer;
}
.span-update{
    margin-top: 17px;
    /* margin-bottom: 12%; */
    /* top: 36%; */
    /* height: 10px; */
    margin-left:28%;
    /* padding-top: 10px; */
    position: absolute;
    /* width: 50%; */
    transition: opacity .3s cubic-bezier(.175, .885, .32, 1.275), width .3s step-end;
}
.update-region:hover{
    color: rgb(255,255,255);
    border: 1px rgb(255,255,255) solid;
}
.update-region:hover > img{
    height:40px;
    padding: 5px;
}
.href-detail-category > h1{
    padding-bottom: 10px;
}
.category-list-sliders-li{
	float:left;
	width:25%;
	height:auto;
}
.overlay{
    opacity: 0.5;
    width: 100%;
    position: absolute;
    height: auto;
    top: 0;
    display: block;
    height: 2930px;
    background-color: black;
    z-index: 2;
    display:none;
}
.fancy-box{
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    position: absolute;
    width: 100%;
    height: 570px;
    top: 434px;
    z-index: 5;
    left: 0;
    display:none;
}
.tong_quat{
    position: relative;
}
.list-folder{
    float:left;
    width:23%;
    list-style: none;
    cursor: pointer;
}
.close-popup{
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.img-folder{
    margin: auto;
    display: block;
}
.title-folder{
    font-size:15px;
    font-family: inherit;
    color:rgb(0,0,0);
    text-align: center;
    width: 100%;
}
#result-list{
    padding: 0;
    list-style: none;
}
.row1{
    margin-left: 10px;
}
.row1 > h1{
    font-size:24px;
    font-family: inherit;
}
.content-play{
    border: 1px white solid;
    box-sizing: border-box;
}
.artist-name{
    font-size:18px;
    font-family: inherit;
}
.page-play-song .box-social-2.otr {
    float: none;
    position: static;
    margin-top: 10px;
}
.page-play-song .box-social-2 {
    top: auto;
    bottom: -2px;
    right: 90px;
    margin-top: 0;
}
.box-social-2 {
    width: 98%;
    float: left;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.box-social-2 .social-mini {
    float: right;
    text-align: right;
}
.box-social-2 .social-mini .icm.ic-zing {
    background-position: 0 0;
}
.box-social-2 .social-mini .icm.ic-fb {
    background-position: -24px 0;
    margin: 0 5px;
}
.box-social-2 .social-mini .icm.ic-gg {
    background-position: -48px 0;
}
.box-social-2 .social-mini .icm {
    display: inline-block;
    background: url(../images/social_mini.png) 0 0 no-repeat;
    width: 24px;
    height: 24px;
}
.zicon{
	background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px
}
.zlike {
    position: relative;
    top: -1px;
    margin-right: 14px;
    white-space: nowrap;
}
.zlike, .zlike>span, .zlike a, .subcribe a, .subcribe a span, .subcribe>span {
    display: inline-block;
}
.zlike a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #B24026;
    color: #fff;
    font-size: 11px;
    padding: 2px 5px 3px 23px;
    margin-right: 5px;
    position: relative;
}
.zlike a span {
    background-position: -25px -2134px;
    position: absolute;
    top: -2px;
    left: -2px;
    color: #fff;
}
.box-social-2 .box-fb-like {
    display: inline-block;
    position: static;
    z-index: 9999;
}
.zlike>span {
    padding: 2px 6px;
    position: relative;
    border: 1px solid #898f9c;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    margin-top: 1px;
    background: #fff;
    font-size: 11px;
    display: inline-block;
}
.subcribe>span, .bubble-social, .zlike>span {
    padding: 2px 6px;
    position: relative;
    border: 1px solid #898f9c;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    margin-top: 1px;
    background: #fff;
    font-size: 11px;
}
.zlike, .zlike>span, .zlike a, .subcribe a, .subcribe a span, .subcribe>span {
    display: inline-block;
}
.subcribe>span i, .subcribe>span b, .zlike>span i, .zlike>span b, .bubble-social i, .bubble-social b {
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    position: absolute;
}
.subcribe>span i, .zlike>span i, .bubble-social i {
    border-color: transparent #898F9C transparent transparent;
    left: -5px;
    top: 5px;
}
s {
    text-decoration: none;
}
.subcribe>span i, .subcribe>span b, .zlike>span i, .zlike>span b, .bubble-social i, .bubble-social b {
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    position: absolute;
}
.subcribe>span i, .subcribe>span b, .zlike>span i, .zlike>span b, .bubble-social i, .bubble-social b {
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    position: absolute;
}
.subcribe>span b, .zlike>span b, .bubble-social b {
    border-color: transparent #fff transparent transparent;
    left: -4px;
    top: 5px;
}
#___plusone_0 {
    position: relative;
    width: 72px!important;
    top: 4px;
}
.box-social-2 .box-fb-like {
    display: inline-block;
    position: static;
    z-index: 9999;
}
b.ico {
    display: inline-block;
    /*background: url(../images/icon/icon@2x.png) 0 -1785px no-repeat;*/
    background: url(../images/head-phone.png) no-repeat;
    background-size:contain;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    vertical-align: middle;
}
.inline{
	display: inline;
}
.clear{
	clear: both;
}
.move-top{
    position: relative;
}
.row2-right{
	float:right;
	top: 7px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.row2-right > span{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
    font-family: inherit;
    color:rgb(255,255,255);
}
.row2-left{
	float:left;
	position: relative;
}
.buttton-tool-song:hover{
	color: rgb(0,0,0) !important;
    border: 1px solid rgb(0,0,0);
    background: rgb(255,255,255);
}
.buttton-tool-song:visited{
	color: rgb(255,255,255);
}
.buttton-tool-song{
	display: inline-block;
    padding: 3px 10px 3px 5px;
    font-size:15px;
    border: 1px solid rgb(255,255,255);
    background: rgb(0,0,0);
    margin-right: 5px;
    line-height: 0;
    color: rgb(255,255,255);

}

.buttton-tool-song > i{
	background-image: url(../images/icon.png);
    background-repeat: no-repeat;
	width: 25px;
    height: 25px;
    display: inline-block;
	text-decoration: none;
}
.buttton-tool-song  .icon-dowload{
    background-position: 0 -1359px;
}
.buttton-tool-song  .icon-add {
    background-position: 0 -1384px;
}
.buttton-tool-song  .icon-share{
    background-position: 0 -1409px;
}
.buttton-tool-song span {
    position: relative;
    top: -7px;
    font-size: 15px;
    font-family: inherit;
}
.section {
    margin-top: 100px;
}
.po-r {
    position: relative!important;
}
#myPlayer{
    width:100%;
    height:auto;
}
#background99789{
    height:auto;
    background-color: rgb(0,0,0);
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    cursor: default;
    user-select: none;
    border-top:1px rgb(255,255,255) solid;
}
.item-song{
    left: 0px;
    top: 0px;
    width: 100%;
    height:35px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgb(0,0,0);
    position: absolute; overflow: hidden;
    color: rgb(255,255,255);
    cursor: pointer;
}
.navButton{
    cursor: pointer;
}
.item-song:hover{
    background-color: rgb(255,255,255);
    color:rgb(0,0,0);
}
.list-item-song-play:hover{
    /*border: 1px rgb(0,0,0) solid;*/
}
.list-item-song-play{
    position: relative;
    width: 100%;
    height:35px;
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.selected{
    background-color: rgb(255,255,255);
    color:rgb(0,0,0);
}
.index{
    width:auto;
    position: relative;
    float: left;
    height: 35px;
    margin-left: 10px;
    margin-right:10px;
}
.stt{
    font-family: inherit;
    font-size: 15px;
    line-height: 35px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    position: relative;
}
.trackData{
    position: relative;
    float: left;
    height: 35px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family:inherit;
    font-size: 15px;
    line-height: 35px;
    white-space: nowrap;
    display: block;
    width:auto;
}
.title-section {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
}
.title-section, .time-zone-7 {
    font-size: 26px;
}
.title-section .icon-arrow {
    width: 20px;
    height: 20px;
    background-position: -25px -924px;
    display: inline-block;
    top: -2px;
    left: -5px;
    position: relative;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
}
.icon-arrow {
    background-position: 0 -2009px;
    position: relative;
    top: 3px;
    right: -5px;
}
.box-comment{

}
.box-comment .list-comment {
    margin-bottom: 20px;
    margin-top: 0px;
    list-style: none;
    padding: 0;
}
.fn-dname{
    color:rgb(0,0,0);
    font-size:15px;
    font-weight:bold;
    font-family:inherit;
}
.thumb-user{
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 20px;
}
.box-comment .list-comment .item-comment {
    border-bottom: 1px solid #dedede;
    overflow: hidden;
    position: relative;
    list-style: none;
    background-color: #fff;
}
.box-comment .list-comment .item-comment .thumb-user {
    float: left;
}
.box-comment .list-comment .item-comment .post-comment {
    margin-left: 60px;
    position: relative;
    margin-top: 5px;
}
.box-comment .list-comment .item-comment .post-comment a {
    display: inline-block;
    margin-bottom: 5px;
}
.fn-content {
    font-size: 14px;
    color: #666;
}
.box-comment .list-comment .item-comment .post-comment .time-comment {
    position: absolute;
    top: 2px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
}
.home-page-prev-combined{
    display: block;
    width: 20px;
    height: 40px;
    padding: 5px;
    text-decoration: none;
    color: transparent;
    background: url(../images/arrow_left.png) no-repeat center;
    z-index: 99;
}
.home-page-next-combined{
    display: block;
    width: 20px;
    height: 40px;
    padding: 5px;
    text-decoration: none;
    color: transparent;
    background: url(../images/arrow_right.png) no-repeat center;
    z-index: 99;
}
.button-next-pre{
    float:right;
    position: relative;
    width:100%;
}
.menu-artist{
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    list-style: none;
}
.menu-li-artist{
    float: left;
    margin-right: 35px!important;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
    position: relative;
    padding-left: 2px;
    list-style: none;
}
.full-banner{
    padding: 0;
    border: 1px rgb(255,255,255) solid;
    background: #222b30;
}
.full-banner .container {
    width: 100%;
}
.container {
    width: 970px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.container > img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.full-banner .box-info-artist {
    position: absolute;
    bottom: 0;
    padding: 50px 0 15px;
    width: 100%;
    left: 0;
}
.full-banner .box-info-artist .info-artist img {
    margin-left: 15px;
    float: left;
    border: 4px solid #fff;
    -moz-box-shadow: 0 0 0 1px rgba(128,128,128,0.5);
    -webkit-box-shadow: 0 0 0 1px rgba(128,128,128,0.5);
    box-shadow: 0 0 0 1px rgba(128,128,128,0.5);
}
.full-banner .box-info-artist .info-artist .info-summary {
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding: 0 15px 0 190px;
}
.info-summary{
    color: #fff;
}
.full-banner .box-info-artist .info-artist .info-summary h1 {
    margin-bottom: 5px;
    font-weight: 300;
}
.form-register{
    width:50%;
    margin: auto;
}
.form-register table tr {
    line-height:3;
}
.form-register table tr td {
    line-height:3;
    padding-right: 10px;
}
.red-alert{
    color:red;
}
.error{
    color:red;
    padding-left: 10px;
}
.profile_des ul li{
    padding-top: 10px;
}
.history{
    height:500px;
    overflow-y: scroll;
    overflow-x: visible;
    border:1px rgb(255,255,255) solid;
    margin: 10px;
}
.history ul{
    background-color: transparent;
    padding: 0;
}
.history ul li {
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    color:rgb(255,255,255);
    list-style: none;
}
.item-history a{
    color:rgb(255,150,0);
}
.item-history > a:visited{
    color:rgb(255,150,0);
}
.history::-webkit-scrollbar {
    width:10px;
}

.history::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.history::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.zm-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    float: left;
    cursor: pointer;
    background-image: url(../images/icon/edb6aea2388fb6d450c7ae3d87f5ff3c.png);
    margin-right: 10px;
    position: absolute;
    top: -4px;
    left: -1px;

}
.serviceBtn:hover{
    background-color: rgb(255,255,255) !important;
}
.zm-icon-repeat.all:hover {
    background-position: 0 -125px;
    margin-top: 0px;
}
.zm-icon-repeat.all {
    background-position: 0 -100px;
    margin-top: 0px;
}
.zm-icon-repeat.shuffle {
    background-position: 0 -250px;
    margin-top: 0px;
}
.zm-icon-repeat.shuffle:hover {
    background-position: 0 -275px;
    margin-top: 0px;
}
.zm-icon-repeat.not {
    background-position: 0 -150px;
    margin-top: 0px;
}
.zm-icon-repeat.not:hover {
    background-position: 0 -175px;
    margin-top: 0px;
}
.zm-icon-repeat.one:hover {
    background-position: 0 -225px;
    margin-top: 0px;
}
.zm-icon-repeat.one {
    background-position: 0 -200px;
    margin-top: 0px;
}
.zm-icon-prev {
    background-position: 0 -450px;
}
.zm-icon-next {
    background-position: 0 -400px;
}
button.media-control-button {
    background-color: transparent;
    border: 0;
    margin: 0 6px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 100%;
    float:right;
}
.zm-quanlity {
    float: right;
    position: relative;
    margin-top: -9px;
}
.zm-quanlity .zm-quanlity-display {
    font-size: 12px;
    font-weight: 700;
    color:rgb(255,255,255);
    padding: 1px;
    cursor: pointer;
    display: inline-block;
    margin-top: 9px;
    background-color:rgb(0,0,0);
}
.zm-quanlity .zm-quanlity-display:hover{
    background-color:rgb(255,255,255);
    color:rgb(0,0,0);
}
.none {
    display: none!important;
}
.zm-tooltip {
              position: absolute;
              background: rgba(0,0,0,.8);
              bottom: 27px;
              font-size: 11px;
              color: #c3c3c3;
              padding: 5px;
              left: 50%;
              margin-left: -10px;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
}
.zm-tooltip .zm-list-quanlity {
    padding: 0;
    margin: 0;
    list-style: none;
}
.zm-tooltip .zm-list-quanlity li {
    margin-top: 8px;
    white-space: nowrap;
    cursor: pointer;
}
.zm-tooltip .zm-list-quanlity li:first-child {
    margin-top: 0;
}
.zm-tooltip .zm-list-quanlity li.active {
    color: #fff;
}
.zm-rp {
    float: right;
    display: inline-block;
}
.li-page {
    display: inline-block;
    padding-right: 10px;
}
.li-page > a:hover{
    color: white;
    font-weight: inherit;
    font-size: inherit;
}
.active-page{

}
.active-page > a:visited{
    color: white;
    font-weight: inherit;
    font-size: inherit;
}
shout_box {
    background:#627BAE; width:260px; overflow:hidden;
    position:fixed; bottom:0; right:20%; z-index:9;
}
.shout_box .header .close_btn {
    background: url(images/close_btn.png) no-repeat 0px 0px;
    float:right; width:15px;
    height: 15px;
}
.shout_box .header .close_btn:hover {
    background: url(images/close_btn.png) no-repeat 0px -16px;
}
.shout_box .header .open_btn {
    background: url(images/close_btn.png) no-repeat 0px -32px;
    float:right; width:15px;
    height:15px;
}
.shout_box .header .open_btn:hover {
    background: url(images/close_btn.png) no-repeat 0px -48px;
}
.shout_box .header{
    padding: 5px 3px 5px 5px;
    /*font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;*/
    font-weight: bold; color:#fff;
    /*border: 1px solid rgba(0, 39, 121, .76);*/
    border: 1px solid rgb(255,255,255);
    border-bottom:none; cursor:pointer;
    background-color:rgb(255,255,255);
}
.shout_box .header:hover{
   /* background-color: #627BAE;*/
    background-color:rgb(255,255,255);
}
.shout_box .message_box {
    background: #FFFFFF; height:350px;
    overflow:auto; border: 1px solid #CCC;
}
.shout_msg{
    margin-bottom: 10px; display: block;
    border-bottom: 1px solid #F3F3F3; padding: 0px 5px 5px 5px;
    font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif; color:#7C7C7C;
}
.message_box:last-child { border-bottom:none;
}
time{
    font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-weight: normal; float:right; color: #D5D5D5;
}
.shout_msg .username{
    margin-bottom: 10px;margin-top: 10px;
}
.user_info input {
    width: 98%; height: 25px; border: 1px solid #CCC; border-top: none; padding: 3px 0px 0px 3px;
    font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
}
.shout_msg .username{
    font-weight: bold; display: block;
}
.shout_box{
    padding: 10px;
}
.shout_box .header{
    font-size:15px;
    color:rgb(0,0,0);
}
.message_box::-webkit-scrollbar {
    width:5px;
}

.message_box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.message_box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.user_info{
    width: 354px;
}
.p-text{
    color:rgb(255,255,255);
    font-size: 15px;
    font-family: inherit;
}
.username > a{
    color:rgb(0,0,0);
}
.username > a:visited{
    color:rgb(0,0,0);
}
.username > a:hover{
    color:rgb(0,0,0);
}
#hide_me{
    width: 30px;
    height: 50px;
    float: left;
    position: relative;
    margin-right: 10px;
    /* border: 1px solid rgb(255, 255, 255); */
    text-align: center;
    vertical-align: middle;
    background-color: black;
    margin-top: 8px;
    z-index:2;
}
#navigationContainer99789{
    position: absolute; bottom: 0px; width: 100%; height: 50px;
}
#prevBtn99789{
    width: 25px; height: 25px; float: left; position: relative; margin-right: 4px; border: 1px solid rgb(255, 255, 255); text-align: center; vertical-align: middle; background-color: transparent; margin-left: 9px; margin-top: 11px;
}
#playBtn99789{
    width: 29px; height: 29px; float: left; position: relative; margin-right: 4px; border: 1px solid rgb(255, 255, 255); text-align: center; vertical-align: middle; background-color: transparent; margin-top: 9px; display: none;
}
#pauseBtn99789{
    display: block; width: 29px; height: 29px; float: left; position: relative; margin-right: 4px; border: 1px solid rgb(255, 255, 255);text-align: center; vertical-align: middle; background-color: transparent; margin-top: 9px;
}
#nextBtn99789{
    width: 25px; height: 25px; float: left; position: relative; margin-right: 10px; border: 1px solid rgb(255, 255, 255);text-align: center; vertical-align: middle; background-color: transparent; margin-top: 11px;
}
.tool-song{
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 0;
}
.tool-song .i25 {
    float: left;
    margin-left: 20px;
    margin-left: 0;
}
.tool-song .i25.video a {
    background-position: 0 -1734px;
    position: relative;
    top: 1px;
    left: -5px;
}
.tool-song .i25>a{
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-decoration: none;
}
.tool-song .i25.i-small.ringtone a {
    background-position: 0 -3759px;
}
.tool-song .i25.download a {
    background-position: 0 -1359px;
}
.tool-song .i25.addlist a {
    background-position: 0 -1384px;
}
.tool-song .i25.share a {
    background-position: 0 -1409px;
}
.tool-song .i25.direct a {
    background-position: 0 -2059px;
}
.for_song{
    border: 1px rgb(255,255,255) solid;
}
.listen_for_song{
    margin-top: 0px;
}
.form-register{
    color:rgb(255,255,255);
}
.register-account{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: inherit;
    padding-left: 10px;
}
.description-album{
	font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: inherit;
	padding:10px;
}
.custom_audio{
	position: absolute; width:85%; height: 50px; right: 0px; user-select: none; bottom: 0px; cursor: default;top: -9px;left: 13%;
}
@media only screen and (max-width: 769px) {
    .span-update{
        margin-top: 13px;
        font-size: 13px;
        vertical-align: middle;
    }
    .form-register .button-login{
        display: block;
        margin: auto;
    }
    .custom_audio{
        top:-3px;
        left: 15%;
    }
    #hide_me{
        width: 40px;
        height:55px;
    }
}
@media only screen and (max-width: 736px){
	#hide_me{
		display:none;
	}
    .custom_audio{
            position: absolute;
			width: 67%;
			height: 50px;
			right: 0px;
			user-select: none;
			bottom: 0px;
			cursor: default;
			top: -9px;
			left: 28%;
			left: 30%;
    }
	.row2-left{
		margin-left: 30px;
	}
	.listen_for_song{
		
		margin-top: 30px;
	}
	.span-update{
		display:none;
	}
    .form-register{
        width: 100%;
    }
}
@media only screen and (min-width: 330px) and (max-width:376px){
	.row2-left{
		margin-left: 12px;
	}

}
@media only screen and (max-width: 330px){
	#hide_me{
		display:none;
	}
    .custom_audio{
            position: absolute;
			width: 63%;
			height: 50px;
			right: 0px;
			user-select: none;
			bottom: 0px;
			cursor: default;
			top: -9px;
			left: 28%;
			left: 35%;
    }
	.row2-left{
		margin-left: 12px;
	}
	.buttton-tool-song span {
		position: relative;
		top: -7px;
		font-size: 10px;
		font-family: inherit;
	}
}
.suggest-search{
    position: absolute;
    width: 429px;
    height: auto;
    z-index: 100;
    right: 0;
}
.box-search{
    color:rgb(255,255,255);
    border: 1px rgb(255,255,255) solid;
    background-color: rgb(0,0,0);
    list-style: none;
    padding:0;
    margin-top: 0;
}
.li-search{
    width: auto;
    text-align: left;
    margin-left:30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
}
.li-search:hover{
    background-color: rgb(255,255,255);
    color:rgb(0,0,0);
}
.li-search:hover > a > h1{
    color:rgb(0,0,0) !important;
}
.img-search-ajax{
    display: inline-block;
    vertical-align: middle;
    width:50px;
    height:50px;
}
.title-search{
    display: inline-block;
    color:rgb(255,255,255);
    font-size: 11px;
    font-weight: bold;
}
@media only screen and (max-width: 415px){
    .img-search-ajax{
        display: inline-block;
        vertical-align: middle;
        width:25px;
        height:25px;
    }
    .title-search{
        display: inline-block;
        color:rgb(255,255,255);
        font-size:7px;
        font-weight: bold;
    }
    .li-search {
        width: auto;
        text-align: left;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .suggest-search {
        position: absolute;
        width: 249px;
        height: auto;
        z-index: 100;
        right: 0;
    }
    .search{
        top:27% !important;
        background: rgb(0,0,0) !important;
        border: 1px rgb(255,255,255) solid;
    }
    .search form{
        position: relative;
    }
    .search-button{
        width: 100px;
        color: rgb(255,255,255);
        background-color: rgb(128,80,11);
        border: 0;
        font-family: inherit;
        font-size: 18px;
        padding: 2px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin:6px 10px 10px !important;
    }
    .query-search{
        font-size: 13px;
    }
    #close_search{
        background-color: rgb(255,255,255) !important;
    }
    .hot-img{
        width: 170px !important;
        height: 170px !important;
    }
}
@media only screen and (max-width: 376px){
    .hot-img{
        width: 150px !important;
        height: 150px !important;
    }
}
@media only screen and (max-width: 321px){
    .hot-img{
        width: 125px !important;
        height: 125px !important;
    }
}
@media only screen and (max-width: 769px){
    .hot-img{
        width: 165px !important;
        height: 165px !important;
    }
}
@media only screen and (max-width: 1025px) and (min-width:1000px) {
    .hot-img{
        width: 230px !important;
        height: 230px !important;
    }
}