<head>
    <?php include_once("seoHead.php"); ?>
    <link rel="shortcut icon" href="http://woim.me/woim.gif" />
    <link type="text/css" rel="stylesheet" href="<?php echo $mainURL ?>/css/woim6_3.css" />
    <link type="text/css" rel="stylesheet" href="<?php echo $mainURL ?>/css/slider.css" />
    <link type="text/css" rel="stylesheet" href="<?php echo $mainURL ?>/css/style.css" />
    <meta property="fb:app_id" content="143991725621187" />
    <link href="<?php echo $mainURL ?>/css/music.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="<?php echo $mainURL ?>/script/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="<?php echo $mainURL ?>/script/jquery-ui-1.8.21.custom.min.js"></script>
    <!--<script type="text/javascript" src="<?php echo $mainURL ?>/script/main.js"></script>-->
    <script type="text/javascript" src="<?php echo $mainURL ?>/script/easy-slider.js"></script>
</head>