.hide, #menu_button_tabblet, .click-sub-menu, #login_button_tabblet, #chat_button, #online_button {
	display: none;
}
@media only screen and (max-width: 1279px) {
	/*header*/
	body {
		padding: 20px 15px;
		margin: 0;
	}
	.search {
		width: calc(100% - 170px);
		& > ul {
			margin: 0;
			padding: 0;
		}
		.input-search {
			margin: 0;
		}
	}
	/*menu*/
	.mega-menu {
		left: -300px;
		width: 300px;
		transition: all .5s ease-in-out;
		&.open {
			left: 0;
		}
	}
	/*main-content*/
	.rightContent {
		// display: none;
		border: 0 none;
		padding: 0;
		margin: 0;
		.history, #facebook_if, #login_out, .shout_box {
			display: none;
		}
	}
	#login_out {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 300px;
		background: rgb(128,80,11);
		padding:10px;
		transform: translateY(-50%) translateX(-50%);
		z-index: 99999;
	}
	#close_login_out, #close_shout_box {
		width: 32px;
		height: 32px;
		position: absolute;
		right: 10px;
		top: 10px;
		background: url(../images/close-x.png) no-repeat center;
		border: 0 none; 

	}
	#close_login_out {
		left: 10px;
	}
	.button-login {
		width: auto;
	}
	.center-img {
		float: left;
		width: auto;
		margin-left: 5px;
		display: block;
		img {
			width: 50px;
			height: auto;
		}
	}
	.profile_des {
		float: right;
		margin-right: 5px;
		width: auto;
		&>ul {
			padding: 0;
			margin: 0;
			li {
				padding-top: 0;
				padding-bottom: 10px;
			}
		}
	}
	// shout_box
	.shout_box {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 300px;
		background: rgb(128,80,11);
		padding:10px;
		transform: translateY(-50%) translateX(-50%);
		z-index: 9999;
	}
	#chat_button {
		display: block;
		position: fixed;
		bottom: 20px;
		right: 15px;
		z-index: 9999;
		width: 32px;
		height: 32px;
		background: url(../images/chat.png) no-repeat center;
	    	background-size: cover;
		float: left;	
		border: 0 none;
		margin-top: 10px;
	}
	// leftcontent
	.leftContent {
		width: 100%;
		float: none;
	}
	.mainContent {
		padding-top: 30px;
	}
	/*rightContent*/
	.new-music {
		width: 42%;
		img {
			height: auto !important;
		}
	}
	.slider {
		width: calc(58% - 20px);
		height: auto;
	}
	#slider-album-new {
		.img-slider-detail {
			width: 100%;
			height: auto;
		}
	}
	.list-sliders-li {
		img {
			margin: 0 auto;
		}
	}
	/*footer*/
	#footer {
		height: auto;
		.content {
			overflow: hidden;
			padding-bottom: 20px;
			.logo {
				margin-right: 30px;
				float: none;
				text-align: center;
			}
		}
	}
	.information, .information-social {
		float: none;
		width: calc(100% - 12px);
		text-align: center;
	}
	.link-footer, .link-footer-social {
		padding: 0;
		& > li {
			float: none;
			display: inline-block;
		}
	}
	/*mega-menu*/
	.mega-menu {
		position: absolute;
		top: 108px;
		background: rgb(0,0,0);
		z-index: 99;
		padding: 0 15px;
		box-sizing: border-box;
		&>ul {
			&>li {
				display: block !important;
				margin: 0;
				padding: 0;
				text-align: left;
				padding-right: 30px;
				&:not(:last-child) {
					border-bottom: 1px solid #fff;
				}
				&>a {
					padding: 10px;
					display: block;
				}
			}
		}
	}
	.click-sub-menu {
		display: block;
		position: absolute;
		right: 0;
		top:0;
		width: 42px;
		height: 42px;
		background: rgba(#000, 0.5);
		&:after, &:before {
			content: "";
			position: absolute;
			top: 50%;
			right: 35%;
			margin-top: -5px;
			width: 2px;
			height: 10px;
			background: #ffffff;
		}
		&:before {
			transform: rotate(90deg);
		}
		&.active {
			&:after {
				display: none;
			}
		}
	}
	.sub-menu {
		box-sizing: border-box;
		top: 0;
		left: calc(100% + 15px);
	}
	.static {
		position: static !important;
	}
	.click-sub-sub-menu {
		width: 48px;
		height: 40px;
		display: inline-block;
		background: url(../images/back-white.png) no-repeat center;
	}
	.block-sub-menu {
		padding: 10px 15px;
		box-sizing: border-box;
		&> a {
			display: block;
			width: 100%;
			box-sizing: border-box;
			border-right: 0 none;
			&:not(:last-child) {
				border-bottom: 1px solid #fff;
			}
		}
	}
	* {
		box-sizing: border-box;
	}
	// .category-data 
	.category-data {
		border: 0 none;
	}
	.detail-category {
		height: auto;
		min-height: 50px;
	}
	.category-data > ul {
		box-sizing: border-box;
		margin-left: 0;
		margin-right: 0;
	}
	.history {
		position: fixed;
		top: 110px;
		left: 15px;
		width: calc(100% - 30px);
		background: #000;
		margin: 0;
		height: 200px;
	}
}
@media only screen and (max-width: 991px) {
	.new-music {
		width: 100%;
		float: none;
	}
	.slider {
		width: calc(100% - 10px);
	}
	//.category-list-sliders-li
	.category-list-sliders-li {
		width: 33.33%;
		.detail-category-img {
			margin: 0 auto;
		}
	}
}
@media only screen and (max-width: 1279px) and (min-width: 768px) {
	#menu_button_tabblet, #login_button_tabblet, #online_button {
		display: block;
		width: 32px;
		height: 32px;
		background: url(../images/menu-mb.png) no-repeat center #ffffff;
		float: left;	
		border: 0 none;
		margin-top: 10px;
	}
	#login_button_tabblet {
		background: url(../images/user-mb.png) no-repeat center #ffffff;
		margin-left: 10px;
	}
	#online_button {
		background: url(../images/giphy.gif) no-repeat center #ffffff;
		margin-left: 10px;
		background-size: 40px;
	}
}
@media only screen and (min-width:1280px) {
	#close_login_out, #close_shout_box {
		display: none;
	}
	#login_out, .shout_box, .history {
		display: block !important;
	}
}
@media only screen and (min-width: 768px) {
	.search {
		display: block !important;
	}
	#close_search {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	/*header*/
	.history { 
		top: 82px;
	}
	.search {
		display: none;
		position: fixed;
		z-index: 999;
		left: 50%;
		top: 50%;
		max-width: 400px;
		min-width: 280px;
		background: rgba(#fff, 0.5);
		padding: 50px 15px 20px;
		transform: translateX(-50%) translateY(-50%);
		box-sizing: border-box;
		&>ul {
			float: none;
			&>li {
				width: calc(50% - 5px);
				margin-left: 10px;
				&:nth-child(2n+1) {
					margin-left: 0;
				}
				&:nth-child(n+3) {
					margin-top: 10px;
				}
			}
		}
		form {
			text-align: center;
		}
	}
	#close_search {
		width: 32px;
		height: 32px;
		position: absolute;
		right: 10px;
		top: 10px;
		background: url(../images/close-x.png) no-repeat center;
		border: 0 none; 
	}
	.top-menu-mobile {
		display: block;
		float: right;
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				&:not(:last-child) {
					margin-right: 10px;
				}
				a {
					display: block;
					width: 32px;
					height: 32px;
					background: #ffffff;
					&#search-button {
						background-image: url(../images/search-mb.png);
						background-repeat: no-repeat;
						background-position: center;
					}
					&#login-button {
						background-image: url(../images/user-mb.png);
						background-repeat: no-repeat;
						background-position: center;
					}
					&#menu-button {
						background-image: url(../images/menu-mb.png);
						background-repeat: no-repeat;
						background-position: center;
					}
					&#online-button {
						background: url(../images/giphy.gif) no-repeat center #ffffff;
						background-size: 40px;
					}
				}
			}
		}
	}
	.query-search {
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
	}
	.search-button {
		margin: 15px auto 0;
	}
	/*xem nhieu nhat*/
	#img-search-more {
		float: none;
		width: calc(100% - 25px);
		height: auto;
	}
	.home-page-slider-search-more {
		height: auto;
		margin: 15px 10px;
	}
	.mega-menu {
		top: 80px;
		left: -100%;
		width: 100%;
	}
}
@media only screen and (max-width: 700px) {
	//.category-list-sliders-li
	.category-list-sliders-li {
		width: 50%;
	}
}
@media only screen and (max-width: 420px) {
	//.category-list-sliders-li
	.category-list-sliders-li {
		width: 100%;
	}
}